@model MvcInternetApplication.Models.LocalPasswordModel

<h3>@App_LocalResources.GlobalRes.ИзменитьПароль</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>@App_LocalResources.GlobalRes.ФормаДляСменыПароля</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="@App_LocalResources.GlobalRes.ИзменитьПароль" />
    </fieldset>
}
